Repository ironcore-dev/ironcore, pull requests merged in 2022-05, with the labels that each got.

#395 Simplify Volume phase
  apis/storage/v1alpha1/volume_types.go
  apis/storage/v1alpha1/zz_generated.conversion.go
  apis/storage/v1alpha1/zz_generated.deepcopy.go
  apis/storage/volume_types.go
  apis/storage/zz_generated.deepcopy.go
  controllers/storage/volume_controller.go
  controllers/storage/volume_controller_test.go
  generated/openapi/api_violations.report
  generated/openapi/zz_generated.openapi.go
  registry/storage/volume/storage/tableconvertor.go
Labels: enhancement, storage, api-change, size/L

#399 VirtualIP, VirtualIPClaim & Scheduler controller
  apis/networking/v1alpha1/virtualip_types.go
  apis/networking/v1alpha1/virtualipclaim_types.go
  apis/networking/v1alpha1/zz_generated.conversion.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  apis/networking/virtualip_types.go
  apis/networking/virtualipclaim_types.go
  apis/networking/zz_generated.deepcopy.go
  config/controller/rbac/role.yaml
  config/samples/networking_v1alpha1_virtualipclaim.yaml
  controllers/networking/networking.go
  controllers/networking/suite_test.go
  controllers/networking/virtualip_controller.go
  controllers/networking/virtualip_controller_test.go
  controllers/networking/virtualipclaim_controller.go
  controllers/networking/virtualipclaim_controller_test.go
  controllers/networking/virtualipclaim_scheduler.go
  controllers/networking/virtualipclaim_scheduler_test.go
  controllers/storage/suite_test.go
  controllers/storage/volume_controller.go
  generated/openapi/api_violations.report
  generated/openapi/zz_generated.openapi.go
  main.go
Labels: enhancement, storage, api-change, size/XXL, networking

#407 Implement `AliasPrefix` controller
  apis/networking/aliasprefix_type.go
  apis/networking/aliasprefixrouting_type.go
  apis/networking/v1alpha1/aliasprefix_type.go
  apis/networking/v1alpha1/aliasprefixrouting_type.go
  apis/networking/v1alpha1/zz_generated.conversion.go
  apis/networking/v1alpha1/zz_generated.deepcopy.go
  apis/networking/v1alpha1/zz_generated.defaults.go
  apis/networking/validation/aliasprefix.go
  apis/networking/validation/aliasprefix_test.go
  apis/networking/validation/aliasprefixrouting.go
  apis/networking/validation/aliasprefixrouting_test.go
  apis/networking/zz_generated.deepcopy.go
  controllers/networking/aliasprefix_controller.go
  controllers/networking/aliasprefix_controller_test.go
  controllers/networking/networkinterface_controller_test.go
  controllers/networking/suite_test.go
  controllers/networking/virtualip_controller_test.go
  controllers/storage/volume_controller_test.go
  controllers/storage/volumeclaim_scheduler_test.go
  docs/api-reference/networking.md
  generated/openapi/api_violations.report
  generated/openapi/zz_generated.openapi.go
  main.go
  registry/networking/aliasprefixrouting/storage/tableconvertor.go
Labels: bug, documentation, enhancement, storage, api-change, size/XL, networking

#408 Simplify & Fix `Prefix` / `PrefixAllocation`
  apis/ipam/prefix_types.go
  apis/ipam/prefixallocation_types.go
  apis/ipam/readiness.go
  apis/ipam/v1alpha1/prefix_types.go
  apis/ipam/v1alpha1/prefixallocation_types.go
  apis/ipam/v1alpha1/readiness.go
  apis/ipam/v1alpha1/zz_generated.conversion.go
  apis/ipam/v1alpha1/zz_generated.deepcopy.go
  apis/ipam/validation/prefix.go
  apis/ipam/validation/prefix_test.go
  apis/ipam/validation/prefixallocation.go
  apis/ipam/validation/prefixallocation_test.go
  apis/ipam/zz_generated.deepcopy.go
  controllers/ipam/ipam.go
  controllers/ipam/prefix_controller.go
  controllers/ipam/prefix_controller_test.go
  controllers/ipam/prefixallocationscheduler_controller.go
  controllers/ipam/suite_test.go
  controllers/networking/aliasprefix_controller.go
  controllers/networking/networkinterface_controller.go
  controllers/networking/networkinterface_controller_test.go
  docs/api-reference/ipam.md
  envtestutils/apiserver/apiserver.go
  generated/openapi/api_violations.report
  generated/openapi/zz_generated.openapi.go
  main.go
  registry/ipam/prefix/storage/tableconvertor.go
  registry/ipam/prefixallocation/storage/tableconvertor.go
Labels: bug, documentation, enhancement, api-change, size/XXL, ipam, networking

#414 Introduce `EmptyDisk` for machine volumes
  apis/compute/machine_types.go
  apis/compute/v1alpha1/machine_types.go
  apis/compute/v1alpha1/zz_generated.conversion.go
  apis/compute/v1alpha1/zz_generated.deepcopy.go
  apis/compute/validation/machine.go
  apis/compute/validation/machine_test.go
  apis/compute/zz_generated.deepcopy.go
  docs/api-reference/compute.md
  docs/api-reference/networking.md
  docs/api-reference/storage.md
  generated/openapi/zz_generated.openapi.go
  serializer/serializer.go
Labels: documentation, enhancement, compute, api-change, size/XL

#411 Add missing RBAC and fix nil pointer dereference
  config/controller/rbac/role.yaml
  controllers/networking/aliasprefix_controller.go
  controllers/networking/networkinterfacebind_controller.go
Labels: bug, size/M, networking

#415 Machine image pull secrets
  apis/compute/machine_types.go
  apis/compute/v1alpha1/machine_types.go
  apis/compute/v1alpha1/zz_generated.conversion.go
  apis/compute/v1alpha1/zz_generated.deepcopy.go
  apis/compute/validation/machine.go
  apis/compute/validation/machine_test.go
  apis/compute/zz_generated.deepcopy.go
  docs/api-reference/compute.md
  generated/openapi/api_violations.report
  generated/openapi/zz_generated.openapi.go
Labels: documentation, enhancement, compute, api-change, size/M

#416 Support volume image / image pull secret
  apis/storage/v1alpha1/volume_types.go
  apis/storage/v1alpha1/volumeclaim_types.go
  apis/storage/v1alpha1/zz_generated.conversion.go
  apis/storage/v1alpha1/zz_generated.deepcopy.go
  apis/storage/validation/volume.go
  apis/storage/validation/volume_test.go
  apis/storage/validation/volumeclaim.go
  apis/storage/validation/volumeclaim_test.go
  apis/storage/volume_types.go
  apis/storage/volumeclaim_types.go
  apis/storage/zz_generated.deepcopy.go
  docs/api-reference/storage.md
  generated/openapi/zz_generated.openapi.go
Labels: documentation, enhancement, storage, api-change, size/L

#417 Re-introduce volume conditions
  apis/storage/v1alpha1/volume_types.go
  apis/storage/v1alpha1/zz_generated.conversion.go
  apis/storage/v1alpha1/zz_generated.deepcopy.go
  apis/storage/volume_types.go
  apis/storage/zz_generated.deepcopy.go
  docs/api-reference/storage.md
  generated/openapi/api_violations.report
  generated/openapi/zz_generated.openapi.go
Labels: documentation, enhancement, storage, api-change, size/L

#384 Network integration proposal
  docs/proposals/00-template.md
  docs/proposals/01-networking-integration.md
Labels: documentation, size/XL

#421 Update prerequisites documentation in local `kind` setup
  docs/development/setup.md
Labels: documentation, size/S
