Repository ironcore-dev/ironcore, pull requests merged in 2022-08, with the labels that each got.

#462 Add `NetworkProtection` controller
  config/controller/rbac/role.yaml
  controllers/networking/network_protection_controller.go
  controllers/networking/network_protection_controller_test.go
  controllers/networking/suite_test.go
  main.go
Labels: enhancement, size/XL, networking

#472 Fix update preparation & lint issues
  .github/workflows/check-codegen.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/test.yml
  Dockerfile
  apis/common/v1alpha1/common_types.go
  apis/compute/machine_types.go
  apis/compute/machinepool_types.go
  apis/compute/register.go
  apis/compute/v1alpha1/machine_types.go
  apis/compute/v1alpha1/machinepool_types.go
  apis/compute/v1alpha1/register.go
  apis/ipam/register.go
  apis/ipam/v1alpha1/register.go
  apis/networking/register.go
  apis/networking/v1alpha1/register.go
  apis/storage/register.go
  apis/storage/v1alpha1/register.go
  controllers/ipam/prefix_controller.go
  docs/development/setup.md
  envtestutils/apiservice.go
  envtestutils/envtestutils.go
  generated/clientset/internalversion/fake/register.go
  generated/clientset/versioned/fake/register.go
  generated/clientset/versioned/scheme/register.go
  go.mod
  registry/compute/machineclass/strategy.go
  registry/compute/machinepool/strategy.go
  registry/storage/volumepool/strategy.go
Labels: bug, documentation, compute, storage, api-change, size/L, ipam, networking

#473 Fix network protection deletion flow
  controllers/networking/network_protection_controller.go
Labels: bug, size/XS, networking
