Repository ironcore-dev/ironcore, pull requests merged in 2022-10, with the labels that each got.

#504 Common `ResourceName`s for `VolumeClass`
  apis/storage/v1alpha1/volumeclass_types.go
  apis/storage/volumeclass_types.go
Labels: storage, api-change, size/S

#524 Implement rudimentary version of ORI & controllers
  Dockerfile
  apis/common/v1alpha1/common_types.go
  apis/compute/machine_types.go
  apis/compute/util.go
  apis/compute/v1alpha1/machine_types.go
  apis/compute/v1alpha1/util.go
  generated/openapi/zz_generated.openapi.go
  go.mod
  go.sum
  hack/tools.go
  hack/update-proto.sh
  machinepoollet/client/client.go
  machinepoollet/client/connectioninfo.go
  machinepoollet/controllers/events/events.go
  machinepoollet/controllers/machine_controller.go
  machinepoollet/controllers/util.go
  machinepoollet/mleg/generic.go
  machinepoollet/mleg/mleg.go
  ori/apis/runtime/v1alpha1/api.pb.go
  ori/apis/runtime/v1alpha1/api.proto
  util/annotations/annotations.go
  util/client/client.go
  util/maps/maps.go
  util/slices/slices.go
Labels: enhancement, compute, api-change, size/XXL

#525 Fix volume device names being updated
  admission/plugin/machinevolumedevices/admission.go
  admission/plugin/machinevolumedevices/admission_test.go
Labels: bug, size/M
